nav {
    ul {
        display: flex;
        justify-content: space-evenly;

        > li {
            position: relative;
            padding: 35px;

            ul {
                background-color: #ffffff;
                border-top: solid 3px #ee403d;
                box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
                display: flex;
                flex-direction: column;
                left: 0px;
                opacity: 0;
                position: absolute;
                padding: 12px 8px;
                pointer-events: none;
                transform: translateY(55px);
                transition: 0.25s ease-in-out;
                visibility: hidden;
                width: max-content;

                li {
                    padding: 0px;

                    a {
                        align-items: center;
                        display: flex;
                        color: #404040;
                        font-size: 15px;
                        gap: 8px;
                        padding: 15px 20px;
                        transition: 0.25s ease-in-out;

                        p {
                            opacity: 0;
                            overflow: hidden;
                            transition: 0.25s ease-in-out;
                            width: 4px;
                        }

                        &:hover {
                            color: #ee403d;

                            p {
                                opacity: 1;
                                overflow: visible;
                                width: 18px;
                            }
                        }
                    }
                }
            }

            > a {
                transition: 0.25s ease-in-out;
            }

            &:hover {
                > a {
                    color: #ee403d;
                }

                ul {
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(35px);
                    visibility: visible;
                }
            }
        }
    }
}
