@use "../abstract/mixin" as *;

header {
    width: 100%;

    .header-container {
        @include flex-display(center, space-between, 22px, nowrap, row);
        margin: 0 auto;
        width: 100%;

        @media screen and (min-width: 1440px) {
            max-width: 1440px;
        }

        &__logo {
            @include flex-display(center, flex-start, 0px, nowrap, row);

            .svg {
                @include flex-display(center, center, 0px, nowrap, row);
                border-right: solid 1px rgba(0, 0, 0, 0.25);
                margin-right: 15.5px;
                padding-right: 15.5px;

                svg {
                    height: 25.5px;
                    width: 25.5px;
                }
            }

            img {
                height: 60px;
            }
        }
        &__navigation {
            width: max-content;
        }

        &__menu-button {
            @include flex-display(center, center, 16px, nowrap, row);
            padding: 20px;
            width: max-content;

            button {
                border-radius: 50%;
                background-color: #f5f6f2;

                svg {
                    font-size: 21px;
                    transition: 0.25s ease-in-out;
                }

                &:hover {
                    background-color: #e32020;

                    svg {
                        color: #fff;
                    }
                }
            }
        }
    }
}
