@use "./style/_root";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    background-color: #ffffff;
    width: 100%;

    main {
        margin: 0 auto;

        @media screen and (min-width: 1440px) {
            max-width: 1440px;
        }
    }

    button {
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}
